
menuconfig DRIVERS_HDF
    bool "HDF driver framework support"
    default n
    help
      Answer Y to enable Linux support HDF.

if DRIVERS_HDF
config HDF_SUPPORT_LEVEL
    int "Set HDF support level"
    default 2
    range 0 5
    depends on DRIVERS_HDF
    help
      Answer 1 on small OHOS, 2 on standard OHOS

source "drivers/hdf/khdf/platform/Kconfig"
source "drivers/hdf/khdf/test/Kconfig"
source "drivers/hdf/khdf/model/display/Kconfig"
source "drivers/hdf/khdf/model/input/Kconfig"
source "drivers/hdf/khdf/model/network/wifi/Kconfig"
source "drivers/hdf/khdf/model/network/bluetooth/Kconfig"
source "drivers/hdf/khdf/model/sensor/Kconfig"
source "drivers/hdf/khdf/model/storage/Kconfig"
source "drivers/hdf/khdf/model/usb/host/Kconfig"
source "drivers/hdf/khdf/model/usb/device/Kconfig"
source "drivers/hdf/khdf/model/audio/Kconfig"
source "drivers/hdf/khdf/model/misc/vibrator/Kconfig"
source "drivers/hdf/khdf/model/misc/dsoftbus/Kconfig"
source "drivers/hdf/khdf/model/misc/light/Kconfig"

endif
